<div id="product-show">
  <div id="item-wrapper">
    <div class="row">
      <div class="col-md-4">
        <div id="img-item-wrapper">
          <%= image_tag @product.img_url, class: "img-fluid item-img" %>
        </div>
      </div>
      <div class="col-md-8">
        <div id="item-detail">
          <div class="item-name">
            <%= @product.name %>
          </div>
          <hr>
          <div class="item-category">
            Category: <%= @product.category.try(:name) %>
          </div>
          <hr>
          <div class="item-price">
            <%= @product.price %>$
          </div>
          <hr>
          <div class="item-desciption">
            <%= @product.description %>
          </div>
          <hr>
          <div class="add-to-cart">
            <!-- <div class="quantity">
              Quantity
            </div> -->
            <button class="btn btn-lg btn-danger">Buy item</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
